@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.duotone{
  font-family: Roboto;
  display: flex;
  text-align:center;
  background: #FEFBEA;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient( 0deg, #FEFBEA 0 50%, #1a1a1a 50% 100%);
}

.duotone h1{
  margin-top: 5px;
  font-size: 2em;
  font-weight:bold;
  color: transparent;
  background: linear-gradient( 0deg, #1a1a1a 0 50%, #FEFBEA 50% 100%);
  background-clip: text;
  -webkit-background-clip: text;
}

@layer components {
  body {
    @apply m-0 flex-auto place-items-center min-w-[320px] h-[100vh] min-h-[480px] 
  }
  nav {
    @apply absolute overflow-hidden bg-chocolate mt-0 top-0 w-screen flex justify-between h-[6vh]
  }
  .card {
    @apply text-[#f2f2f2] text-center py-[14px] px-[14px] text-lg 
  }
  h1 {
    @apply  text-[2em] leading-[1.1]
  }
 
  
  
  a {
    @apply font-medium 
  }
  a:hover {
    @apply text-blue-700
  }
  main {
    @apply items-center justify-center text-center flex content-center h-[100vh]
  }
  #app {
    @apply m-auto p-8 text-center items-center justify-center
  }

  .clipboard-entry, .entry-container {
    @apply rounded-lg border border-transparent py-2.5 px-5 text-base font-medium  cursor-pointer duration-[0.25s] 
  }
  .clipboard-entry:hover {
    @apply border-blue-600
  }
  .clipboard-entry:focus,
  .clipboard-entry:focus-visible {
    @apply outline outline-4  outline-white
  }
  .entry-container {
    @apply w-[100vw] h-[94vh] p-[auto] mt-[6vh] mb-0 mx-auto flex justify-evenly content-start
  }

  .element {
    @apply p-3 mb-5 mr-10 bg-slate-700 rounded-full w-[20rem] max-h-[5em] font-sans  items-center justify-center text-center m-1
  }
  .element-btn {
    @apply mx-1 rounded-full w-9 h-9 bg-zinc-800 hover:bg-zinc-900
  }

  .popover {
    @apply  bg-zinc-900 rounded-full text-sm py-2.5 px-5 absolute my-2 min-w-[11%] left-[45%] right-[50%] border-2 border-blue-600
  }

  .modal-btn {
    @apply w-full inline-flex justify-center rounded-md border shadow-sm px-4 py-2 text-base font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm
  }

  .dropdown-btn {
   @apply inline-block bg-inherit mx-1 pb-1 rounded-full w-[20%] h-6 w-4 hover:bg-zinc-800
  }
  .link {
    @apply inline-block pl-4 max-w-[16rem] truncate
  }

  .invisible {
    @apply opacity-0
  }

  .visible {
    @apply opacity-100
  }

}



/* @media (prefers-color-scheme: light) {
  :root {
    color: #535bf2;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */
